.booking{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5.6778vw 0;

    button{
        padding: 0.9vw 4.5vw;
        background-color: #000000;
        color: #fff;
        font-size: 0.9vw;
        font-style: Inter, sans-serif;
        border-radius: .3vw;
        font-weight: 400;
        cursor: pointer;
        transition: background-color 0.25s ease;
        border: none;

        &:hover{
            background-color: #eae5e5;
            color: #000000;
        }
    }
}