.CorpWhyNPGO {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.1666vw;
  padding: 1.625vw 4.1666vw 3.166vw;

  .left {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.30208vw;

    .heading {
      color: #111;
      font-family: Inter, sans-serif;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 72px */
      text-align: left;
    }

    .desc {
      width: 60%;
      color: #111;
      font-family: Inter, sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 36px */
      text-align: left;
    }
  }

  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.50208vw;

    ul {
      padding: 0;
      margin: 0;
      color: #8c8c8c;
      font-family: Inter, sans-serif;
      font-size: 1.6666vw;
      font-style: normal;
      font-weight: 500;
      line-height: 164%; /* 52.48px */

    }
  }
}

@media (max-width: 480px) {
  .CorpWhyNPGO {
    flex-direction: column;
    padding: 11.11vw 4.4444vw;
    gap: 8vw;

    .left {
      width: 100%;
      gap: 3vw;

      .heading {
        font-size: 6.17vw;
      }

      .desc {
        width: 100%;
        font-size: 3.8889vw;
      }
    }

    .right {
      width: 100%;

      ul {
        font-size: 3.8889vw;
        margin-left: 4vw;
        color: #111;
      }
    }
  }
}