.DestIntExplore{
    width: 100%;
    height: 100vh;
    background-color: #ececec;
    padding: 4.84375vw 4.375vw;

    .cont{
        width: 100%;
        height: 100%;
        background-color: #4f39f5;
    }
}