.HomeContact {
  display: flex;
  width: 100%;
  padding: 6.927vw 4.166666vw 4.7396vw;
  gap: 2vw;
  background-color: #cdffab;
  justify-content: space-between;

  .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2vw;

    h4 {
      margin: 0;
      font-family: Inter, sans-serif;
      font-size: 1.041666vw;
      font-weight: 400;
      color: #000;
    }

    h2 {
      padding-top: 2.1vw;
      margin: 0;
      color: #111;
      font-family: Inter, sans-serif;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 57.6px */
    }

    .cta {
      display: flex;
      padding-top: 1.1vw;
      gap: 1.3vw;

      .chat {
        display: flex;
        align-items: center;
        gap: 1vw;

        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.6vw;
          border-radius: 12.718px;
          background: #688c4f;
        }

        .details {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          color: #111;
          font-family: Inter, sans-serif;
          font-style: normal;

          .title {
            font-size: 1.1776vw;
            font-weight: 600;
            line-height: 120%; /* 27.132px */
          }

          .disc {
            font-size: 0.735989vw;
            font-weight: 400;
            line-height: 120%; /* 16.957px */
          }

          .mail {
            font-size: 0.883177vw;
            font-weight: 500;
            line-height: 120%; /* 20.349px */
          }
        }
      }
    }
  }
  .right {
    width: 50%;

    form {
      padding: 2.395833vw 1.875vw;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1.2vw;

      label {
        color: #111;
        font-family: Inter, sans-serif;
        font-size: 1.041666vw;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
      }

      input,
      textarea {
        background: #cdffab;
        border: none;
        padding: 0.9vw 1vw;
        font-size: 0.9vw;
        font-family: Inter, sans-serif;
        outline: none;
        transition: all 0.3s ease;
      }

      input::placeholder,
      textarea::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }

      input:focus,
      textarea:focus {
        border-color: #688c4f;
        box-shadow: 0 0 0 2px rgba(104, 140, 79, 0.2);
      }

      textarea {
        resize: none;
      }

      button {
        margin-top: 1vw;
        padding: 0.9vw;
        border: none;
        background: #111;
        color: white;
        font-size: 1vw;
        font-weight: 500;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s ease;
      }

      button:hover {
        background: #688c4f;
      }
    }
  }
}
