.HomeExperience {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5.15vw 4.166666vw;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    aspect-ratio: 0.7;
    .photo {
      border-radius: 0.3vw;
      display: flex;
      align-items: start;
      padding: 0.8vw;
      border: 1px solid #00000023;
      background-color: #f9f9f9;
      width: 80%;
      aspect-ratio: 0.70;
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);

      img {
        border-radius: 0.3vw;
        width: 100%;
        aspect-ratio: 0.8;
        object-fit: cover;
      }
    }
  }

  .right {
    width: 41%;
    gap: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      margin: 0;
      font-family: Inter, sans-serif;
      font-size: 1.05vw;
      font-weight: 400;
      color: #000;
    }

    .title {
      color: #111;
      font-family: 'Inter Display';
      font-size: 96px;
      font-style: normal;
      font-weight: 500;
      line-height: 95%; /* 91.2px */
      letter-spacing: -0.96px;

      span {
        color: #688c4f;
        font-family: Griffiths;
        font-size: 128px;
        font-style: normal;
        font-weight: 400;
        line-height: 95%;
        letter-spacing: -1.28px;
      }
    }
  }
}
