.admin-theme.dark {
  --bg-primary: #0e1117;
  --bg-secondary: #161b22;

  --text-primary: #ffffff;
  --text-secondary: #9ca3af;

  --accent: #ffffff;
}

.admin-theme.light {
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --accent: #454645;
}

.admin-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--bg-primary);
  color: var(--text-primary);
}

.admin-content {
  flex: 1;

  background: var(--bg-primary);
  color: var(--text-primary);
}